<html>
  <head>
    <title>Famous Comedians</title>
    <link rel="stylesheet" href="stylesheets/reset.css" title="css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" title="css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Famous Comedians</h1>
      <nav>
        <ul>
          <li><a href="/comedians">No sort</a></li>
          <li><a href="/comedians?sort=name">Sort by name</a></li>
          <li><a href="/comedians?sort=city">Sort by city</a></li>
          <li><a href="/comedians?sort=age">Sort by age</a></li>
          <li><a>Find by age:
            <form class="sort-by-age" action="/comedians" method=get>
              <input class="text-box" type="text" name="age" placeholder="Enter age">
              <input class="submit-button" type="submit" value="Submit">
            </form>
            </a>
          </li>
          <li><a href="/comedians/new">Add new comedian</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <div id="statistics">
        <h3><b>Statistics:</b></h3>
        <h4><b>Average age: </b><%= @comedians.average_age(@comedians).round(2) \
          if @comedians.average_age(@comedians) %></h4>
        <h4><b>Average run length:</b>
          <%= @ave_special_length.round(2) if @ave_special_length %> min.</h4>
        <h4><b>Cities:</b>&nbsp;
          <% @all_cities.each do |city| %>
          <%= city %>&nbsp;
          <% end %>
        </h4>
        <h4><b>Total specials:</b> <%= @all_specials %></h4>
      </div>
      <% @comedians.each do |comedian| %>
      <div class="comedian" id="<%= comedian.last_name %>-<%= comedian.first_name %>">
        <h2><a href="/comedians/<%= comedian.id %>"><%= comedian.first_name %> <%= comedian.last_name %></a></h2>
        <h3><b>Home town:</b> <%= comedian.city %></h3>
        <h3><b>Age:</b> <%= comedian.age %></h3>
        <h3><b>Specials:</b> <%= comedian.specials.count %>
        <div class="all-specials">
          <% comedian.specials.each do |special| %>
            <div class="specials">
              <h4><b><%= special.title %></b></h4>
              <h4>Length <%= (special.length.to_f / 60).round(2) %> minutes</h4>
              <a href="<%= special.pic_url %>"><img src="<%= special.pic_url %>" alt="<%= special.title %>"></a>
            </div>
          <% end %>
        </div>
      </div>
      <br><br>
      <% end %>
    </div>
  </body>
</html>
