<html>
  <head>
    <title>Famous Comedians</title>
    <link rel="stylesheet" href="stylesheets/reset.css" title="css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" title="css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Famous Comedians</h1>
      <nav>
        <ul>
          <li><a href="/comedians">No sort</a></li>
          <li><a href="/comedians?sort=name">Sort by name</a></li>
          <li><a href="/comedians?sort=city">Sort by city</a></li>
          <li><a href="/comedians?sort=age">Sort by age</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <div id="statistics">
        <h3><b>Statistics:</b></h3>
        <h4>Average age: <b><%= Comedian.average_age(@age).round(2) %></b></h4>
        <h4>Average run length:&nbsp;
          <b><%= Special.average_length(@age).round(2) %></b> min.</h4>
        <h4>Cities:&nbsp;
          <% Comedian.cities(@age).each do |city| %>
          <b><%= city %></b>&nbsp;
          <% end %>
        </h4>
        <h4>Total specials: <b><%= Special.tot_specials(@age) %></b></h4>
      </div>

      <% @comedians.each do |comedian| %>
      <div class="comedian" id="<%= comedian.last_name %>-<%= comedian.first_name %>">
        <h2><a href="/comedians/<%= comedian.id %>"><%= comedian.first_name %> <%= comedian.last_name %></a></h2>
        <h3>Home town: <%= comedian.city %></h3>
        <h3>Age: <%= comedian.age %></h3>
        <h3>Specials: <%= comedian.specials.count %>
          <% comedian.specials.each do |special| %>
            <h4><%= special.title %></h4>
            <h4>Length <%= (special.length.to_f / 60).round(2) %> minutes</h4>
            <img src="<%= special.pic_url %>">
          <% end %>
          <hr>
      </div>
      <% end %>
    </div>
  </body>
</html>
