<html>
  <head>
    <title><%= @comedian.first_name %> <%= @comedian.last_name %></title>
    <link rel="stylesheet" href="../stylesheets/reset.css" title="css" type="text/css" />
    <link rel="stylesheet" href="../stylesheets/main.css" title="css" type="text/css" />
  </head>
  <body>
    <h1><%= @comedian.first_name %> <%= @comedian.last_name %></h1>
    <h3>Home town: <%= @comedian.city %></h3>
    <h3>Age: <%= @comedian.age %></h3>
    <h3>Specials: <%= @comedian.specials.count %>
    <% @comedian.specials.each do |special| %>
      <h4><%= special.title %></h4>
      <h4>Length <%= (special.length.to_f / 60).round(2) %> minutes</h4>
      <img src="<%= special.pic_url %>">
    <% end %>

    <form action="/comedians">
        <input type="submit" value="Back to Comedians" />
    </form>
  </body>
</html>
