<html>
  <head>
    <title><%= @comedian.first_name %> <%= @comedian.last_name %></title>
    <link rel="stylesheet" href="../stylesheets/reset.css" title="css" type="text/css" />
    <link rel="stylesheet" href="../stylesheets/main.css" title="css" type="text/css" />
  </head>
  <body>
    <div id="insight">
      <h1><%= @comedian.first_name %> <%= @comedian.last_name %></h1>
      <h3><b>Home town:</b> <%= @comedian.city %></h3>
      <h3><b>Age:</b> <%= @comedian.age %></h3>
      <h3><b>Specials:</b> <%= @comedian.specials.count %></h3>
      <% @comedian.specials.each do |special| %>
        <div class="individual-special">
          <h4><b><%= special.title %></b></h4>
          <h4>Length <%= (special.length.to_f / 60).round(2) %> minutes</h4>
          <a href="<%= special.pic_url %>"><img src="<%= special.pic_url %>"></a>
        </div>
      <% end %>
      <a href="/comedians">Back to all comedians</a>
    <div>
  </body>
</html>
